.TweetButtonStyle {
  color: white;
  background-color: #00acee;
  font-size: medium;
  padding: 1.7rem;
  border: none;
  width: 15vw;
  height: 5vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.TweetButtonStyle:hover {
  background-color: #0098d4;
}

.DialogTweetButtonStyle {
  color: white;
  background-color: #00acee;
  font-size: 0.9rem;
  border: none;
  width: 6vw;
  height: 5vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 0.7rem;
  margin-left: 14rem;
}
.DialogTweetButtonStyle:hover {
  background-color: #0098d4;
}

.DialogTweetIconStyle {
  color: #00acee;
  margin-right: 0.35rem;
  cursor: pointer;
}
