html,
body {
  font-family: "Poppins", sans-serif;
}

.PeopleProfileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 0 8.4rem;
  grid-gap: 2rem;
}



@media only screen and (max-width: 376px) {
  .LeftHomeSectionContainer {
    display: none;
  }

  .PeopleProfileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    padding: 0;
  }

  .RightHomeSectionContainer {
    display: none;
  }
}
