.ProfileMainContainer {
  display: grid;
  grid-template-rows: 0.055fr 0.18fr 0.31fr;
  margin-right: 2.1rem;
  width: 36rem;
}
.ProfileHeadingContainer {
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: left;
  margin-top: 0.1rem;
  display: inline-block;
}
.ProfileHeading3Container {
  margin-block-start: 0;
  margin-block-end: 0;
}
.ProfileHeadingParaContainer {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: small;
  margin-left: 3rem;
  margin-bottom: 0.2rem;
}
.ArrowIconStyle {
  position: relative;
  bottom: 1rem;
}
.ProfilePhotoContainer {
  background-color: #cfd9e0;
  padding-top: 11.1rem;
  padding-right: 24rem;
  color: #cfd9e0;
}
.ProfileDetailsContainer {
  border: 0.2px solid #cfd9e0;
  text-align: left;
}

.ProfileEditButton {
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 55px;
  font-size: 0.9rem;
  background-color: white;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid rgb(190, 190, 190);
  cursor: pointer;
  position: relative;
  bottom: 13rem;
  left: 28rem;
}

.ProfileEditButton:hover {
  background-color: gainsboro;
}

.ProfileTodoButton {
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  width: 9rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 0.96rem;
}

.ProfileTodoButton:hover {
  background-color: gainsboro;
}
